.size {
    width: 100%;
    height: 300px;
    display: flex;
}

#green {
    background-color: green;
    
}

#yellow {
    background-color: yellow;
    
}

#purple {
    background-color: purple;  
}

